.mail-side-menu .mail-compose {
    display: grid;
    grid-template-columns: 20px 1fr;
    column-gap: 0.5em;
    position: absolute;
    left: 55px;
    top: 15px;
    align-content: center;
    font-size: 0.8em;
    
    background-color: #c2e7ff;
    border-radius: 1em;
    
    width:max-content;
    padding-inline: 0.5em;
    height: 30px;

    border: 1px solid gray;
    
}


.mail-side-menu li:not(.hamburger, .mail-compose) {
    display: grid;
   
    grid-template-columns: 30px 1fr 20px; 
    column-gap: 1em;
    align-items: center; 
    /* width: 100%; */
    width: 200px;
    padding: 10px;
    /* color: #202124; */
    font-size: 0.875em;
    cursor: pointer;
}

.mail-side-menu .menu .selected {
    background-color: #d3e3fd;
    color: #001d35;
    font-weight: bold;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
}

.mail-side-menu .menu li:not(.selected, .hamburger, .mail-compose):hover{
    background-color: var(--chalk); 
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
}

.mail-side-menu .hamburger{
    display: grid;
    grid-template-columns: 30px 1fr 20px; 
    padding: 10px;
    cursor: pointer;
    position: absolute;
    top: 5px;  
}

.mail-side-menu .hamburger:hover {
    background-color: lightgray;
    width: 50px;
    border-radius: 50%;
    
}
