.mail-filter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin-inline-start: 20px;

    background-color: #efeff1;
    border-radius: 2em;
    height: 40px;
    width: 400px;
    align-items: center;
    font-size: 1em;
}

.mail-filter .search {
    display: flex;
    align-items: center;
}

.mail-filter input{
    background-color: #efeff1;
    border: 0;
}

.mail-filter input:focus {
    outline: none;
}

