.add-note {
    position: relative;
    margin-block-start: 1em;
    width: 600px;
    margin-inline-start: 250px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.548);
    padding: 0.5em;
    border-radius: 8px;
    height: max-content;
    row-gap: 0.5em;
}

.add-note .pin {
    position: absolute;
    right:0;
    top:0;
    height: 35px;
    width: 35px;
    display: grid;
    place-self: center;

}

.take-a-note {
    display: grid;
    grid-template-columns: 3fr 1fr;
    
}

.take-a-note p{
    display: grid;
    align-items: center;
}


.take-a-note .side-bar {
    display: grid;
    grid-auto-flow: column;
    place-items: center;
    width: 200px;
}

.new-note button {
    position: absolute;
    bottom: 12px;
    right: 240px;
    font: Roboto;
    border: none;
    background-color: white;
    font-size: 16px;
}

.new-note button:hover{
    cursor: pointer;
}

.new-note form {
    display: grid;
    row-gap: 0.5em;
}

.new-note form input {
    border: none;
    width: 400px;
}

.new-note form input:first-of-type{
    font-size: 18px;
}

.new-note form textarea{
    border: none;
}

.new-note form input:focus, .new-note form textarea:focus{
    outline: none;
}




