.add-note {
    margin-block-start: 1em;
    width: 600px;
    margin-inline-start: 250px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.548);
    padding: 0.5em;
    border-radius: 8px;

    display: grid;
    grid-template-areas: "header header"
                         " p side-bar"
                        "bottom-menu bottom-menu";
    grid-template-columns: 3fr 1fr;
    row-gap: 0.5em;
    
}





.add-note p {
    grid-area:p;
    display: grid;
    align-items: center;
}

.add-note .bottom-menu {
    grid-area: bottom-menu;
    
}


.add-note .hidden {
    display: none;
}