.add-note {
    position: relative;
    margin-block-start: 1em;
    width: 600px;
    margin-inline-start: 250px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.548);
    padding: 0.5em;
    border-radius: 8px;
    height: max-content;
    row-gap: 0.5em;
}

.add-note .note-pin {
    right:0;
    top:0;
}

.take-a-note {
    display: grid;
    grid-template-columns: 3fr 1fr;
    
}

.take-a-note p{
    display: grid;
    align-items: center;
    font-size: 0.9em;
}


.take-a-note .side-bar {
    display: grid;
    grid-auto-flow: column;
    place-items: center;
    width: 200px;
}

.add-note .trash, .add-note .select, .add-note .duplicate {
    display: none;
}

.add-note .action-icons {
    width: 250px;
}



