.add-note header {
    grid-area: header;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 50px;
}

.add-note header .action-icon:hover{
    opacity:1;
    cursor: pointer;
}

.add-note header .action-icon {
    position: relative;
    height: 35px;
    width: 35px;
    display: grid;
    place-self: center;

}

.add-note header .action-name {
    opacity: 0;
    position: absolute;
    bottom: -25px;
    width: max-content;
    background-color: #595959;
    color: white;
    padding: 5px;
    border-radius: 8px;
    font-size: 12px;
    transition-delay: 500ms;
    transition: 500ms;
}


.add-note header .action-icon:hover {
    background-color: lightgray;
    border-radius: 50%;
}

.action-icon:hover .action-name {
    opacity: 1;
}