.side-bar:hover{
    opacity:1;
    cursor: pointer;
}

.side-bar {
    grid-area: side-bar;
    align-self: start;
    display: grid;
    grid-auto-flow: column;
    place-items: center;
    width: 200px;
}

.side-bar .action-icon {
    /* position: relative; */
    height: 35px;
    width: 35px;
    display: grid;
    place-items: center;
    

}

.side-bar .action-name {
    opacity: 0;
    position: absolute;
    bottom: -25px;
    width: max-content;
    background-color: #595959;
    color: white;
    padding: 5px;
    border-radius: 8px;
    font-size: 12px;
    transition-delay: 500ms;
    transition: 500ms;
}


.side-bar >*:hover {
    background-color: lightgray;
    border-radius: 50%;
}

.action-icon:hover .action-name {
    opacity: 1;
}





