.note-list {
    display:grid;
    margin-inline-end: 2em;
}

.note-list ul{
   
    justify-self: center;
    grid-area: note-list;
    columns: 250px auto;
    /* columns: 250px; */
    margin: 0;
}

.note-list h2 {
    font-size: 0.7em;
    font-weight: 100;
    color: gray;
}

.note-list ul li {
    break-inside: avoid;
    display: grid;
    justify-items: center;
    padding-block: 20px;
    max-width: 300px;
   
}

.note-list .pinned-notes .empty li {
    padding: 0;
}



