
.note-preview {
    /* border-radius: 20px; */
    display: grid;
    /* width: 240px; */
    font-size: 18px;
    position: relative;
    
}

.note-preview  h2 {
    height: 38px;
    line-height: 24px;
    font-size: 18px;
    font-weight: 500;
}

.note-preview p{
    width: 240px;
    text-wrap: wrap;
}

