.note-list {
    display:grid;
}

.note-list ul{
    justify-self: center;
    grid-area: node-list;
    columns: 250px auto;
}

.note-list h2 {
    font-size: 0.7em;
    font-weight: 100;
    color: gray;
}

.note-list ul li {
    break-inside: avoid;
    display: grid;
    justify-items: center;
   
}



