.note-list {
    display:grid;
}

.note-list ul{
    justify-self: center;
    grid-area: node-list;
    margin-block-start: 1em;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1em;
}



