.side-menu {
    display: grid;
    grid-template-rows: repeat(5, 50px);
    margin-inline-end: 1em;
}

.side-menu li {
    display: grid;
    grid-template-columns: 30px 1fr;
    column-gap: 1em;
    align-items: center;
    /* height: 100px; */
    width: 200px;
}

.side-menu .selected {
    background-color: #feefc3;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
}







