.side-menu {
    display: grid;
    grid-template-rows: repeat(5, 50px);
    /* row-gap:0.1em; */
    margin-inline-end: 1em;
    font-size: 0.8em;
}

.side-menu li {
    display: grid;
    column-gap: 0.5em;
    grid-template-columns: 50px auto;
    grid-auto-flow: column;
    align-items: center;
    width: max-content;
    
}

.side-menu li img{
    justify-self: end;
}

.side-menu li p{
    width: 80px;
}

.side-menu li >* {
    padding-inline-end: 10px;
}

.side-menu .selected {
    background-color: #feefc3;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
}

.side-menu li:not(.selected, .hamburger):hover{
    background-color: var(--chalk); 
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
}

.side-menu li:hover{
    cursor: pointer;
}

.side-menu .hamburger{
    position: absolute;
    top:20px;
    
}







