.mail-index {
    background-color: #f6f8fc;
    position: relative;
}

.mail-index main{
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.mail-header {
    display: flex;
    align-items: center;
    border-radius: 5px;
    padding: 10px;
    margin-inline-start: 40px;
}

.mail-header img {
    height: 30px;
    margin-inline-end: 20px;
} 

