.note-index {
    color: #5f6368;
    position: relative;
}

.note-index-header {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 80px 150px 650px; 
    align-items: center;
    border-bottom: 2px solid lightgrey;
}

.note-index-header img {
    justify-self: end;
}

.note-index-header h1{
    font-weight: 400;
    
}



.note-index main {
    display: grid;
    grid-template-areas: "side-menu add-note"
                        "side-menu note-list";
}

.note-index main .side-menu {
    grid-area: side-menu;
}

.note-index main .add-note {
    grid-area: add-note;
}

.note-index main .note-list {
    grid-area: note-list;
}